$nb-color-text-primary: #323338;
$nb-color-text-light: #AEAEAE;

$nb-color-accent-1: #EEB556;
$nb-color-accent-2: #3B9EB4;

$nb-color-background-light: #E6EEF1;
 
$nb-color-background-table-1: #FEFBF6;
$nb-color-background-table-2: #FAFAFA;

$nb-color-background-kanban: #F9F9F9;
 
$nb-color-background-card: #FCFCFC;
$nb-color-background-card-accent: #FFE1E1;
 
$nb-color-dot-done: #F9AAEC; 
$nb-color-dot-todo: #ADDE8F;
$nb-color-dot-inprogress: #8CDAEB;
$nb-color-dot-blocked: #CC7676;
$nb-color-dot-1: #CACC64;
$nb-color-dot-2: #979A6B; 
$nb-color-dot-3: #E5AF5E; 
$nb-color-dot-4: #876129; 
$nb-color-dot-5: #BADAEC;  
$nb-color-dot-6: #4C72BC; 
$nb-color-dot-7: #9B7ED9; 
$nb-color-dot-8: #9D3AFF; 
$nb-color-dot-9: #E2E2E2; 
$nb-color-dot-10: #ECAEAE; 
$nb-color-dot-11: #FE4E6D;
$nb-color-dot-12: #731B5A;